body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #EEEFF4;
}

code {
  font-family: 'Raleway', sans-serif;
}
